{% load staticfiles %}

{% url 'statistics' as statistics %}
{% url 'historical' as historical %}
<li class="{% if not statistics in request.path and not historical in request.path %} active {% endif %}">
	<a href="{% url 'begin' %}">
		<i class="fa fa-users"></i><span>Play</span>
	</a>
</li>
<li class="{% if statistics in request.path %} active {% endif %}">
	<a href="{% url 'statistics' %}">
		<i class="fa fa-cogs"></i><span>Ranking</span>
	</a>
</li>
<li class="{% if historical in request.path %} active {% endif %}">
	<a href="{% url 'historical' %}">
		<i class="fa fa-list-alt"></i><span>Historical</span>
	</a>
</li>