/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 2.1.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v2.1/admin/material/
*/
.bg-univalle{
  background: #C80024;

}
.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
    border-color: #E57373 #F44336 #D32F2F;
}
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:focus, 
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
    background: #C80024;
}
.navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.text-theme,
.sidebar .sub-menu > li.active > a:before {
    color: #F44336;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        background: #F44336;
    }
}


/* Added in v1.5 */

.gradient-enabled .navbar.navbar-inverse .navbar-brand,
.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a, 
.gradient-enabled .top-menu .nav > li.active > a:focus, 
.gradient-enabled .top-menu .nav > li.active > a:hover {
    background: #e57373; /* Old browsers */
    background: -moz-linear-gradient(top,  #e57373 0%, #e53935 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e57373 0%,#e53935 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e57373 0%,#e53935 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57373', endColorstr='#e53935',GradientType=0 ); /* IE6-9 */
}
.pace-progress {
    background: #F44336;
}
.pace .pace-activity {
    border-top-color: #F44336;
    border-left-color: #F44336;
}


/* Added in v1.7 */

.page-with-light-sidebar .sidebar .nav > li.active > a > i {
    color: #F44336;
}
.page-with-light-sidebar .sidebar .nav > li.active > a .badge,
.page-with-light-sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #F44336;
}


/* Added in v1.9 */

.top-menu .nav > li.active > a, 
.top-menu .nav > li.active > a:focus, 
.top-menu .nav > li.active > a:hover {
    background: #F44336;
}

.sidebar-minify-btn {
    margin: 10px 0;
    float: right;
    padding: 5px 20px 5px 10px !important;
    background: #C80024;
    color: #fff;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}
.sidebar-minify-btn i {
    margin: 0 !important;
    color: #fff;
}
.sidebar, .sidebar-bg {
    background: #E10024;
    left: 0;
    width: 220px;
    top: 0;
    bottom: 0;
}
.sidebar .nav > li > a i {
    float: left;
    margin-right: 10px;
    width: 24px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #fff;
}
.sidebar .nav > li.nav-profile {
    padding: 20px;
    color: #fff;
    background: url(../../img/mi_comunidad/titulo-menu.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.sidebar .nav > li.nav-profile:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: block;
}
.page-sidebar-minified .sidebar .nav > li.has-sub:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub:focus > a {
    background: #E10024;
}

.page-sidebar-minified .sidebar .nav li.has-sub>.sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 220px;
    display: none;
    padding: 10px 0;
    margin: 0;
    background: #c40121;
}

.sidebar{
    background: url(../../img/mi_comunidad/back.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

}
/* color de las letras menu sub nivel*/
.sidebar .nav>li.has-sub .sub-menu>li>a {
    color: #f9f9f9;
}
/* para revisar si se usa
body{
    font-family: MyriadPro-Semibold;
    src: url(../../fonts/fuentes/MyriadPro-Semibold.otf ) format("truetype");
}
*/

/* pagina de error*/
.error-desc {
    font-size: 14px;
    color: #f9f9f9;
}

 .navbar-bottom img {
       display:inline;
       margin-left:auto;
       margin-right:auto;
       vertical-align: bottom;
       width: 120px;
       height: 54px;
       float: bottom;
       margin-bottom: 20px;
}
.navbar-bottom{
    position: absolute; 
    bottom: 0; 
    right: 80px;
    margin-bottom: -10px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #C80024!important;
    border-color: #C80024!important;
}

/* acerca de mi_comunidad*/
.acerca-de-mi_comunidad{
  align: right;
  margin-left: 0px;
  margin-right: 0px;
  height: 24px;
}
.acerca-de-mi_comunidad-logo{
  text-align: center;
}
.acerca-de-mi_comunidad-footer{
  text-align: left;
  margin-left: 0px;
  margin-right: 90%;
  height: 48px;
}