{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Game of drones
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block titulo_interior %}
    Game of drones: <strong>Play the game</strong> 
{% endblock titulo_interior %}

{% block titulo_panel %}
	<i class="fa fa-user"></i> Game of drones
{% endblock titulo_panel %}

{% block contenido_panel %}
{% include "_wizard.html" with etapa=3 %}
<div class="col-xs-2"></div>
<div class="col-xs-10">
    <h1>WE HAVE A WINNER</h1>
    <h2>{{winner}} is the new EMPEROR!</h2>
    <br>
    <a id="play_again" href="{% url 'begin' %}" class="btn btn-md btn-default pull-right">Play again <i class="fa fa-angle-right"></i></a>
</div>
{% endblock contenido_panel %}
